body {
  background: linear-gradient(-45deg, #00a3d0, #293241);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
input {
  border-bottom: 2px solid #293241;
}
input:visited,
input:focus,
input:active {
  outline: none;
  border-bottom: 2px solid #00a3d0;
}
input[type="file"],
input[type="file"]:visited,
input[type="file"]:hover,
input[type="file"]:focus,
input[type="file"]:active {
  margin: 0;
  padding: 0em 0em; /* fallback: older browsers like IE 1-8 need "em" */
  padding: 0rem 0rem; /* older browsers dont know what "rem" is */
  overflow: hidden; /* long file names overflow so just hide the end */
  background: rgb(229 231 235);
  outline: none;
  border-bottom: 2px solid #293241;
  border-right: 2px solid #293241;
  cursor: pointer;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input[type="file"]:hover {
  background: #f9f9ff; /* Optional rollover color: I am using a light blue to indicate an interaction */
  border-left: 2px solid #293241;
  border-top: 2px solid #293241;
  border-bottom: 0px solid #293241;
  border-right: 0px solid #293241;
}

input[type="file"]:visited,
input[type="file"]:focus,
input[type="file"]:active {
  background: #ffffff; /* Default back to white when focused. */
  border: 2px solid #3d5a80;
}

/* Note: These "disabled" selectors blow up in IE so have to be separated from the same styles above. */
input[type="file"]:disabled {
  margin: 0;
  padding: 0em 0em;
  padding: 0rem 0rem;
  overflow: hidden; /* long file names overflow so just hide the end */
  background: #ddd;
  border-radius: 0.2em;
  border-radius: 0.2rem;
  outline: none;
  border: 2px solid #3d5a80;
  cursor: pointer;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input[type="file"]:disabled:hover {
  background: #ddd; /* disabled-readonly buttons should be grey */
  border: 2px solid #3d5a80;
}

input[type="file"]:disabled:visited,
input[type="file"]:disabled:focus,
input[type="file"]:disabled:active {
  background: #ddd; /* disabled-readonly buttons should be grey */
  border: 2px solid #3d5a80;
}

/* IE UPLOAD BUTTON STYLE: This attempts to alter the file upload button style in IE.  Keep in mind IE gives you limited design control but at least you can customize its upload button.*/
::-ms-browse {
  /* IE */
  display: inline-block;
  margin: 0;
  padding: 0.2em 0.5em;
  padding: 0.2rem 0.5rem;
  text-align: center;
  outline: none;
  border: none;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}
/* FIREFOX UPLOAD BUTTON STYLE */
::file-selector-button {
  /* firefox */
  display: inline-block;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0.18em 0.5em;
  padding: 0.18rem 0.5rem;
  -webkit-appearance: button;
  text-align: center;
  border-radius: 0.1rem 0rem 0rem 0.1rem;
  outline: none;
  border: none;
  border-right: 2px solid #bbb;
  background: #eee;
  white-space: nowrap;
  cursor: pointer;
}
/* CHROME AND EDGE UPLOAD BUTTON STYLE */
::-webkit-file-upload-button {
  /* chrome and edge */
  display: inline-block;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0.19em 0.5em;
  padding: 0.19rem 0.5rem;
  -webkit-appearance: button;
  text-align: center;
  border-radius: 0.1rem 0rem 0rem 0.1rem;
  outline: none;
  border: none;
  border-right: 2px solid #bbb;
  background: #eee;
  white-space: nowrap;
  cursor: pointer;
}
