.custom_h {
  min-height: calc(100vh - 85px);
}
.bar {
  content: "";
  width: 100%;
  margin: 5px 0;
  background: #00a3d0;
  height: 3px;
}
.marime {
  height: 4rem;
  width: 4rem;
}
.meniu::after,
.meniu::before {
  content: "";
  display: block;
  margin: 5px 0;
  width: 100%;
  background: #00a3d0;
  height: 3px;
  left: 1px;
  transition: 0.4s;
}
.meniu.is-active::after {
  transform: rotate(45deg) translate(-8px, -7px);
  background: rgba(102, 51, 255, 0.8);
}
.meniu.is-active::before {
  transform: rotate(-45deg) translate(-4px, 4px);
  background: rgba(102, 51, 255, 0.8);
}
.meniu.is-active .bar {
  opacity: 0;
}
.meniu .mobile-nav {
  transition: 0.4s;
}
.meniu.is-active .mobile-nav {
  transform: translate(-20rem);
}
.medic-name {
  animation: Color 2s linear infinite;
  -webkit-animation: Color 2s ease-in-out infinite;
}
.scrolol {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrolol::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.arrow {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  border: none;
  width: 2rem;
  font-size: 3rem;
  cursor: pointer;
  background: #00a3d0;
  padding-bottom: 2rem;
  opacity: 0.5;
  transition: opacity 100ms;
}
.arrow:hover {
  opacity: 1;
}
#spate {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
#fata {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}
.filtered{
    display: none;
}
